<footer class="mt-2 pt-2 text-xs text-center md:text-left border-t md:border-none">
    <aside class="mx-auto max-w-screen-lg px-2">
      {{if not .IsHome }}
      <div class="mb-2">
        {{ partial "contact.html" . }}
      </div>
      {{ end }}
      {{- with .Site.Params.Author.bio }}<p>{{ . }}</p>{{ end -}}
    </aside>
  <section class="py-2 md:bg-neutral-100 md:mt-2">
    <div class="mx-auto max-w-screen-lg px-2">
      <div class="md:flex md:flex-col-reverse">
        {{- with .Site.GetPage "Section" "legals" }}
        <nav class="py-2 md:py-0">
          <ul>
          {{- range where (.Site.RegularPages.ByParam "order") "Section" "legals" }}
            <li class="inline whitespace-nowrap
              before:inline-block before:pr-1 before:text-neutral-300 before:content-['|']
              after:pl-1 first:before:hidden first:before:pr-0 last:after:pl-0">
              <a href="{{ .Permalink }}" class="linear py-1 transition duration-300 hover:text-pink-600">
                {{ .LinkTitle }}
              </a>
            </li>
          {{- end }}
          </ul>
        </nav>
        {{- end }}
        <p class="py-2 md:pt-0">
        {{- with .Site.Copyright }}
          {{- . }}
        {{- else }}
          {{- i18n "copyright" | strings.FirstUpper }} &copy; {{ now.Year -}}
        {{- end -}}
        <a href="{{ .Permalink }}">&nbsp;</a>
        </p>
      </div>
    </div>
  </section>
</footer>