{{ define "main" -}}
{{- $feature:= resources.GetMatch .Site.Params.image }}
<main class="mt-6">
  <div class="mx-auto max-w-prose px-2
  flex flex-col text-center md:text-left gap-4 justify-items-center
  md:flex-row-reverse md:items-center ">
    {{ partial "contact.html" . }}
    {{ with $feature }}
    <div class="max-w-md mx-auto md:mx-0">
      <img class="rounded shadow" src="{{ .RelPermalink }}" />
    </div>
    {{ end }}
  </div>
  {{ with .Content }}
  <article class="mt-8 mx-auto px-2
    prose
    prose-pre:mx-auto
    prose-pre:max-w-sm">
    {{ . }}
  </article>
{{end}}
  </main>


{{- end }}