{{ define "main" -}}
{{- $feature:= resources.GetMatch .Site.Author.image }}
  <div
    class="mx-auto
    max-w-screen-lg items-center
    justify-start px-4% md:flex md:flex-row">
    <div class="flex justify-center text-center md:text-left md:order-last">
      <div class="pb-10 text-sm">
        {{ partial "contact.html" . }}
      </div>
    </div>
    {{ with $feature }}
    <div class="md:basis-1/2 max-w-sm md:max-w-none text-center md:mr-4%">
        <img class="rounded shadow" src="{{ .RelPermalink }}" />
      </div>
    {{ end }}
  </div>
{{- end }}